.footer{
    background-color: rgb(47, 51, 58);
}

.box{
    margin: 1rem 3rem;
    display: flex;
    justify-content: space-between;
    padding: 4rem 0;
}

.header{
    color: white;
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}


.div1{
    width: 25%;
}

.div1_p{
    color: white;
    margin-bottom: 1.5rem;
    font-weight: 400;
    font-size: 0.9rem;
}

.div2{
    width: 15%;
}

.div3{
    width: 15%;
}

.div4{
    width: 25%;
}

.icon{
    color: rgb(231, 231, 231);
    background-color: rgb(47, 51, 58);
    padding: 0.5rem;
    box-sizing: content-box;
    border-radius: 50%;
    font-size: 1.4rem;
}

.icon:hover {
    background-color: #ff7004;
}



.icon_twitter{
    color: rgb(231, 231, 231);
    padding: 0.5rem;
    box-sizing: content-box;
    font-size: 1.4rem;
    border-radius: 50%;
}

.icon_twitter:hover {
    background-color: #ff7004;
}

.div2 a{
    text-decoration: none;
    color: white;
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 400;
    font-size: 0.9rem;
}

.div2 a:hover{
    transform: translateX(-30);
}

.div3 a{
    text-decoration: none;
    color: white;
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 400;
    font-size: 0.9rem;
}

.input{
    padding: 1rem 2rem;
    border: 1px solid rgb(67, 71, 78);
    background-color: rgb(47, 51, 58);
    color: rgb(255, 255, 255);
    transition: 0.3s;
}

.input::placeholder{
    color: white;
}

.input:focus{
    border: 1px solid #ff7004;
    outline: none;
}

.subscribe{
    display: flex;
    padding: 0.8rem 2.5rem;
    background-color: #ff7004;
    align-items: center;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 1rem;
    border: none;
    cursor: pointer;
    transition: 0.4s;
}

.subscribe:hover{
    background-color: rgb(33, 33, 33);
}


.telegram{
    padding-left: 0.5rem;
    
}