.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem auto;
  padding: 1rem;
  max-width: 1024px;
}

.navigation__logoImg {
  height: 2.5rem;
  width: auto;
}

.IconBox {
  display: flex;
}

.spanBox {
  position: relative;
  cursor: pointer;
}

.Icon__span {
  background-color: #ff7004;
  color: #fff;
  padding: 0 0.4rem;
  position: absolute;
  border-radius: 50%;
  top: -30%;
  left: 70%;
  font-size: 0.8rem;
}

.navigation__Icon {
  padding-right: 1rem;
  box-sizing: content-box;
  border-right: 1px solid #2f333a;
  margin-right: 1rem;
  cursor: pointer;
  transition: ease-in;
}

.navigation__Icon:hover {
  color: #ff7004;
}

.shoppingbag:hover {
  color: #ff7004;
}

.navigation__headerBox {
    background-color: #2f333a;
}

.navigation__header{
   margin: 0 15%;
   display: flex;
   justify-content: space-between;
}

@media (max-width: 1024px) {
  .navigation__header{
    margin: 0 10%;
  }
}

@media (max-width: 768px) {
  .navigation__header{
    margin: 0 2%;
  }
}



/* Container for the dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

/* The button */
.dropbtn {
  color: #fff;
  padding: 15px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

/* Dropdown content (hidden by default) */
.dropdown_content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
}

/* Links inside the dropdown */
.dropdown_content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 1rem;
  font-weight: 400;
}

/* Hover styles */
.dropdown_content a:hover {
  color: #ff7004;
  border-bottom: #f1f1f1 1px solid;
}

/* Show the dropdown on hover */
.dropdown:hover .dropdown_content {
  display: block;
}

/* Change button color on hover */
.dropdown:hover .dropbtn {
  background-color: transparent;
  color: #ff7004;
}

.dropdown:hover .icon{
    color: #ff7004;
}

.icon{
    color: #fff;
    width: 1rem;
    position: absolute;
    top: 30%
}

.flex:hover .icon{
    color: #ff7004;
}