.img {
  height: 7rem;
  width: 7rem;
  padding: 0 1rem;
  border: 1px solid rgb(231, 231, 231);
  object-fit: contain;
}

.pack {
  display: flex;
}

.x {
  border: none;
  outline: none;
  padding: 0.2rem 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  color: rgb(33, 33, 33);
  transition: 0.2s ease-in;
  justify-self:flex-end;
  margin-left: 0.1rem;
}

.x:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(220, 53, 69);
}

.center {
  margin-left: 1rem;
}

.center a {
  font-weight: 400;

}



.list {
  padding: 1.5rem 1rem;
  display: flex;
  align-items: start;
  justify-content: space-between;
  border-bottom: 1px solid rgb(231, 231, 231);
  list-style: none;
}

.p1{
  font-size: 1rem;
  padding-right: 0.3rem;
}

.p2{
  padding-left: 0.3rem;
  color: #ff7004;
}
