.label {
  display: block;
  font-weight: 500;
}

.input {
  height: 2.8rem;
  width: 100%;
  padding: 1rem;
  margin-top: 0.5rem;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 2px;
  outline: none;
  transition: 0.2s;
}

.input:focus {
  border: 1px solid #ff7004;
}

.input::placeholder {
  font-size: 1rem;
  font-weight: 400;
  color: black;
}

.box {
  width: 100%;
  margin: 0 auto;
  padding-top: 1rem;
}
